@CHARSET "UTF-8";
html, body{
	height: 99%;
}
#progress {
	display: none;
	position: fixed;
	top: 100px;
	left: 50%;
	height: 100px;
	width: 500px;
	border: 1px solid black;
	background-color: white;
	padding: 15px;
	margin-left: -265px;
}
.success {
	list-style:none outside none;
	background-color:lightGreen;
	margin:9px;
	padding:5px;
	width: 600px;
}
.fail {
	list-style:none outside none;
	background-color:lightCoral;
	margin:9px;
	padding:5px;
	width: 600px;
}
.warning {
	list-style:none outside none;
	background-color:yellow;
	margin:9px;
	padding:5px;
	width: 600px;
}
.info {
	list-style:none outside none;
	background-color:lightblue;
	margin:9px;
	padding:5px;
	width: 600px;
}
#topBanner {
	background: #eaeaea;
	border: 0px solid black;
	height: 50px;
	padding-left: 5px;
	padding-top: 5px;
	
	 box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	
}
#container {
	height: 99%;
	width: 2000px;
}
#content {
	float: left;
	width: 75%;
	padding: 10px 15px;
	height: 100%;
}
.preHidden {
	display: none;
}
a{
	color: #4b1625;
	text-decoration: underline;
	font-size: 1.2em;
	cursor: pointer;
}
a:link,a:visited{
	color: #4b1625;
}	
a:hover, a:active{
	color: #000;
	text-decoration: none;
	font-size: 1.2em;
}
hr{
 		border: 1px solid #c0c0c0;
}
#content-master{
 	float:left;
	min-height:40em;
	width:555px; 
}
 	
 	/* Typography */
 	
h1 { 
	font-family: 'Questrial', sans-serif, serif,arial,verdana, helvetica;
	font-weight: 400;
	color: #310f18;
	font-size:26px;
	padding:5px 0;
	line-height: 24px;
	text-shadow: 2px 2px 2px #9d9d9d;

}
h2 { font-family: 'Questrial', sans-serif, serif,arial,verdana, helvetica; font-weight: 400;  font-size: 22px; color: #212121;   }
h3 { font-family: 'Questrial', sans-serif, serif,arial,verdana, helvetica; font-weight: 400; font-size: 16px; color: #212121; letter-spacing: 1px;   }



html{ font-size: 100%; }
body{ font-size: 62.5%;}
body{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; line-height: 180%; }
p { font-size: 1.2em; margin: 0.5em 0; }
		
li li{ font-size: 1em; }
 	/* Menu Local*/
 	
#nav-local{ 
	border: 0px solid black;
	float: left;
	width: 10%;
	height: 200%;
	display: inline;
	padding: 0;
	background: #eaeaea;
	
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
	
#nav-local ul{
	padding: 0;
	margin: 0;
	margin-top: 20px;
}
#nav-local ul li:first-child{
	font-size: 1.7em;
	font-family: 'Questrial', sans-serif, serif,arial,verdana, helvetica;
}
 	
#nav-local ul li{
	list-style-type: none;
}
#nav-local ul li a{
	color: #383737;
	text-decoration: none;
	list-style-type: none;
	font-size: 1.2em;
	display: block;
	padding: 2px 5px 5px 20px;

}
#nav-local ul li.active{
	color: #383737;
	text-decoration: none;
	list-style-type: none;
	font-size: 1.2em;
	border-bottom: 1px solid #000;
	display: block;
	padding: 2px 5px 5px 25px;
}

#nav-local ul li a.active
{
	color: #383737;
	text-decoration: none;
	list-style-type: none;
	font-size: 1.2em;
	border-bottom: 1px solid #959595;
	display: block;
	text-transform: uppercase;
	padding: 2px 5px 5px 25px;
	background: url(../images/nav_local_menu_active.png) no-repeat left;
	}
	
/*News list*/

#news-list{
	width: 565px;
	padding: 5px;
	
}
#news-list-item{
	border-bottom: 1px solid #959595;
	padding-bottom: 5px;
}
.read-more{
	color: #383737;
		font-style: italic;
		text-decoration: none;
}
.date{
	color: #383737;
	font-size: 1.0em;
}
.news{
	font-family: 'Questrial', sans-serif, serif,arial,verdana, helvetica;
	font-weight: 400;
	color: #310f18;
	font-size:22px;
	padding:0;
	line-height: 0;
	text-shadow: 2px 2px 2px #9d9d9d;
}
td {
	vertical-align: top;
	font-size: 1.1em;
}

th, thead {
	font-size: 1.1em;
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight:bold;
}

th:first-letter {
	text-transform:capitalize;
}
